@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
 */
body {
  margin: 0;
  background-color: #022c43;
  background-image: url("./img/wm.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bgcolor {
  background-color: #022c43;
}

.btnSignOut {
  background-color: #115173;
}

.betblock {
  background-color: #053f5e;
}

.btnConfirm {
  background-color: #ffd700;
}

.btnConfirm:hover {
  background-color: #daba03;
}
